-i https://pypi.org/simple
asciitree==0.3.3
asttokens==2.4.1
attrs==23.2.0 ; python_version >= '3.7'
bleach==6.1.0 ; python_version >= '3.8'
bokeh==3.4.1
bottleneck==1.3.8
certifi==2024.2.2 ; python_version >= '3.6'
cffi==1.16.0 ; python_version >= '3.8'
cfgv==3.4.0 ; python_version >= '3.8'
cftime==1.6.3 ; python_version >= '3.8'
charset-normalizer==3.3.2 ; python_full_version >= '3.7.0'
click==8.1.7 ; python_version >= '3.7'
cloudpickle==3.0.0 ; python_version >= '3.8'
colorcet==3.1.0 ; python_version >= '3.7'
comm==0.2.2 ; python_version >= '3.8'
contourpy==1.2.1 ; python_version >= '3.9'
coverage[toml]==7.5.3 ; python_version >= '3.8'
cycler==0.12.1 ; python_version >= '3.8'
dask[complete]==2024.5.1 ; python_version >= '3.9'
dask-expr==1.1.1
dask-image==2024.5.3 ; python_version >= '3.9'
decorator==5.1.1 ; python_version >= '3.5'
distlib==0.3.8
distributed==2024.5.1
eccodes==1.2.0
ecosound==0.0.25
exceptiongroup==1.2.1 ; python_version < '3.11'
execnet==2.1.1 ; python_version >= '3.8'
executing==2.0.1 ; python_version >= '3.5'
fasteners==0.19 ; sys_platform != 'emscripten'
filelock==3.14.0 ; python_version >= '3.8'
flox==0.9.7
fonttools==4.52.4 ; python_version >= '3.8'
fsspec==2024.5.0 ; python_version >= '3.8'
h5netcdf==1.3.0
h5py==3.11.0 ; python_version >= '3.8'
holoviews==1.18.3
hvplot==0.10.0
hypothesis==6.102.6
identify==2.5.36 ; python_version >= '3.8'
idna==3.7 ; python_version >= '3.5'
imageio==2.34.1 ; python_version >= '3.8'
importlib-metadata==7.1.0 ; python_version < '3.12'
iniconfig==2.0.0 ; python_version >= '3.7'
ipympl==0.9.4 ; python_version >= '3.9'
ipython==8.24.0 ; python_version >= '3.10'
ipython-genutils==0.2.0
ipywidgets==8.1.3 ; python_version >= '3.7'
jedi==0.19.1 ; python_version >= '3.6'
jinja2==3.1.4 ; python_version >= '3.7'
joblib==1.4.2 ; python_version >= '3.8'
jupyterlab-widgets==3.0.11 ; python_version >= '3.7'
kiwisolver==1.4.5 ; python_version >= '3.7'
linkify-it-py==2.0.3 ; python_version >= '3.7'
llvmlite==0.42.0 ; python_version >= '3.9'
locket==1.0.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
loguru==0.7.2
lz4==4.3.3
markdown==3.6 ; python_version >= '3.8'
markdown-it-py==3.0.0 ; python_version >= '3.8'
markupsafe==2.1.5 ; python_version >= '3.7'
matplotlib==3.9.0
matplotlib-inline==0.1.7 ; python_version >= '3.8'
mdit-py-plugins==0.4.1 ; python_version >= '3.8'
mdurl==0.1.2 ; python_version >= '3.7'
msgpack==1.0.8 ; python_version >= '3.8'
mypy==1.10.0
mypy-extensions==1.0.0 ; python_version >= '3.5'
nc-time-axis==1.4.1
netcdf4==1.6.5 ; python_version >= '3.7'
nodeenv==1.8.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5, 3.6'
numba==0.59.1 ; python_version >= '3.9'
numbagg==0.8.1
numcodecs==0.12.1 ; python_version >= '3.8'
numpy==1.26.4
numpy-groupies==0.11.1 ; python_version >= '3.9'
opencv-python==4.9.0.80 ; python_version >= '3.6'
opt-einsum==3.3.0
packaging==24.0 ; python_version >= '3.7'
pandas==2.2.2
panel==1.4.3
param==2.1.0 ; python_version >= '3.8'
parso==0.8.4 ; python_version >= '3.6'
partd==1.4.2 ; python_version >= '3.9'
pexpect==4.9.0 ; sys_platform != 'win32' and sys_platform != 'emscripten'
pillow==10.3.0 ; python_version >= '3.8'
pims==0.6.1 ; python_version >= '3.7'
platformdirs==4.2.2 ; python_version >= '3.8'
pluggy==1.5.0 ; python_version >= '3.8'
pooch==1.8.1
pre-commit==3.7.1
prompt-toolkit==3.0.45 ; python_full_version >= '3.7.0'
psutil==5.9.8 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3, 3.4, 3.5'
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyarrow-hotfix==0.6
pycparser==2.22 ; python_version >= '3.8'
pygments==2.18.0 ; python_version >= '3.8'
pyparsing==3.1.2 ; python_full_version >= '3.6.8'
pytest==8.2.1
pytest-cov==5.0.0
pytest-env==1.1.3
pytest-timeout==2.3.1
pytest-xdist==3.6.1
python-dateutil==2.9.0.post0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
pytz==2024.1
pyviz-comms==3.0.2 ; python_version >= '3.8'
pyyaml==6.0.1 ; python_version >= '3.6'
requests==2.32.2 ; python_version >= '3.8'
ruff==0.4.5
scikit-learn==1.5.0 ; python_version >= '3.9'
scipy==1.13.1 ; python_version >= '3.9'
seaborn==0.13.2
setuptools==70.0.0 ; python_version >= '3.8'
six==1.16.0 ; python_version >= '2.7' and python_version not in '3.0, 3.1, 3.2, 3.3'
slicerator==1.1.0
sortedcontainers==2.4.0
sounddevice==0.4.7
soundfile==0.12.1
stack-data==0.6.3
tblib==3.0.0 ; python_version >= '3.8'
threadpoolctl==3.5.0 ; python_version >= '3.8'
tifffile==2024.5.22 ; python_version >= '3.9'
tomli==2.0.1 ; python_version < '3.11'
toolz==0.12.1 ; python_version >= '3.7'
tornado==6.4 ; python_version >= '3.8'
tqdm==4.66.4 ; python_version >= '3.7'
traitlets==5.14.3 ; python_version >= '3.8'
typing-extensions==4.12.0 ; python_version >= '3.8'
tzdata==2024.1 ; python_version >= '2'
uc-micro-py==1.0.3 ; python_version >= '3.7'
urllib3==2.2.1 ; python_version >= '3.8'
virtualenv==20.26.2 ; python_version >= '3.7'
wcwidth==0.2.13
webencodings==0.5.1
widgetsnbextension==4.0.11 ; python_version >= '3.7'
xarray[complete]==2024.5.0 ; python_version >= '3.9'
xyzservices==2024.4.0 ; python_version >= '3.8'
zarr==2.18.2
zict==3.0.0 ; python_version >= '3.8'
zipp==3.19.0 ; python_version >= '3.8'
